<div class="row">
  <div class="col">
    <div style="height: 80vh; border: 1px solid red" class="w-100">
      <table>
        <tr *ngFor="let chat of ($chats | async)">
          <td>{{chat.updatedAt}}</td>
          <td style="cursor:pointer;" (click)="selectChat(chat)">{{chat.id}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col">
    <div style="height: 80vh; border: 1px solid red" class="w-100" *ngIf="chatId">
      <div class="h-100">
        <table>
          <tr *ngIf="index">
            <td colspan="4">
              <u style="cursor:pointer;" (click)="viewMore()">ver más</u>
            </td>
          </tr>
          <tr *ngFor="let message of messages">
            <td>{{message.viewed ? 'visto' : 'no leido'}}</td>
            <td>{{message.userSend}}</td>
            <td>{{message.text}}</td>
            <td>{{message.createdAt | date: 'short'}}</td>
          </tr>
        </table>
      </div>
      <form ngNativeValidate (ngSubmit)="sendMessage()">
        <input type="text" matInput [(ngModel)]="text" name="text" required>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div style="height: 80vh; border: 1px solid red" class="w-100" *ngIf="!chatId">
      <button type="button" (click)="createChat()">Crear chat</button>
    </div>
  </div>
</div>
<button (click)="login()">Ingresar</button>
<input type="email" [(ngModel)]="email" name="email">
<button (click)="logout()">Cerrar sesión</button>
